* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

.top-container {
    width: 80%;
    margin: 0 auto;
}

.error-message {
    color: #e74c3c;
    font-size: 0.9em;
    margin: 10px 0;
}

.erro {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

table {
    margin: 20px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 80%;
    max-width: 80%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #d3d3d3;
    border-spacing: 0;
}

table th {
    background: linear-gradient(to bottom, #002f75ce, #004891);
    color: white;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 8px;
    background-color: #ffffff;
}

table tr {
    border-bottom: 1px solid #d3d3d3;
}

table a {
    color: #00008b;
    text-decoration: underline;
}

.editar-form .editar-salvar {
    font-weight: bold;
    background: none;
    color: #004891;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.editar-form .editar-salvar:hover {
    background: none !important;
    color: #012a64ce !important;
    transition: all 0.3s ease-in-out;
}