header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo-img {
    width: 50px;
    vertical-align: middle;
}

.center-title {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.8em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(142, 142, 142);
    text-decoration: none;
    font-weight: bold;
}