.publicacoes {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.publicacao {
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
}

.topo-publicacao {
    display: flex;
    align-items: center;
}

.texto-publicacao p {
    font-size: 1.1em;
    line-height: 1.5;
}

.comentario .acoes a,
.publicacoes .acoes a {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    text-decoration: none;
    color: inherit;
    border: none;
    background: none;
}

.comentario .acoes span,
.publicacoes .acoes span,
.respostas .acoes span {
    font-size: 1vw;
    margin: 0;
}

.comentario .acoes a.botao-like,
.publicacoes .acoes a.botao-like {
    max-width: 5%;
    max-height: 3%;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.comentario .acoes a.botao-deletar,
.publicacoes .acoes a.botao-deletar,
.respostas .acoes a.botao-deletar {
    max-width: 5%;
    color: #e74c3c;
    cursor: pointer;
    transition: color 0.3s ease;
}

.comentario .acoes a.botao-like:hover,
.publicacoes .acoes a.botao-like:hover {
    color: black;
}

.comentario .acoes a.botao-deletar:hover,
.publicacoes .acoes a.botao-deletar:hover {
    color: #a70f0f;
}

.comentario,
.resposta {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.comentario .topo-publicacao,
.resposta .topo-publicacao {
    display: flex;
    align-items: center;
}

.comentario .texto-publicacao,
.resposta .texto-publicacao {
    margin-top: 5px;
}

.comentario .acoes,
.resposta .acoes {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.form-publicar {
    display: flex;
    margin-top: 1.5vh;
    max-width: 100%;
}

.form-publicar input {
    min-width: 50%;
    max-width: 75%;
    max-height: 10vh;
    border: 1px solid #ccc;
}
.form-publicar button {
    margin-top: 2vh;
    max-height: 10vh;
    margin-left: 1vh;
    flex-grow: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #2980b9;
    border-radius: 3px;
}

.form-comentario,
.form-resposta {
    display: flex;
    margin-top: 15px;
}

.form-comentario input {
    min-width: 40%;
    max-width: 60%;
}

.form-comentario input,
.form-resposta input {
    max-height: 5vh;
    flex-grow: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-comentario button,
.form-resposta button {
    padding: 0;
    margin-top: 1.9vh;
    margin-left: 1vh;
    min-width: 20%;
    height: 5vh;
    font-size: 1em;
    background-color: #3498db;
    border: 1px solid #2980b9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-comentario button:hover,
.form-resposta button:hover {
    background-color: #2980b9;
}

form button {
    padding: 15px 60px;
    background-color: #3498db;
    color: white;
    border: 2px solid #333;
    border-radius: 40px;
    font-size: 1em;
    transition: .5s ease;
}

form button:hover {
    background-color: #2980b9;
}

a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}

.publicacao .user {
    animation: none;
    color: black;
    text-decoration: none;
    padding: 0;
}

.publicacao .user:hover {
    animation: none;
    color: #2e2d2d;
}

form input[type="text"] {
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.like-icon {
    color: darkgrey;
    cursor: pointer;
    transition: color 0.3s ease;
}

.like-icon.liked {
    color: red;
}

.like-icon:hover {
    color: darkred;
}
.like-icon.liked:hover {
    color: gray;
}