@media (max-width: 768px) and (min-width: 481px) {
    .container {
        width: 90%;
    }

    .menu {
        text-align: center;
    }

    .menu li {
        display: block;
        margin-bottom: 10px;
    }

    .form-comentario,
    .form-resposta,
    .form-publicar {
        flex-direction: row;
    }

    .form-publicar input {
        margin: 0;
        width: 70%;
        max-width: 75%;
        height: 5vh;
    }

    .form-publicar button {
        margin: 0;
        width: 20%;
        max-width: 75%;
        margin-left: 1vh;
        height: 5vh;
    }

    .form-comentario input,
    .form-resposta input {
        width: 70%;
        max-width: 75%;
        margin-bottom: 10px;
    }

    .form-comentario button,
    .form-resposta button {
        margin-top: 2.5%;
        margin-left: 2.5%;
        min-width: 25%;
    }

    .comentario .acoes span,
    .publicacoes .acoes span {
        margin: 0;
        font-size: 0.9em;
    }

    .comentario .acoes a.botao-like,
    .publicacoes .acoes a.botao-like {
        padding: 1.5vh 0 1.5vh 0;
        font-size: 2.75vw;
        max-width: 25%;
        max-height: 20%;
        color: #333;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .comentario .acoes a.botao-deletar,
    .publicacoes .acoes a.botao-deletar {
        max-width: 25%;
        font-size: 2.75vw;
        max-height: 20%;
        float: right;
        color: #e74c3c;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .botao-opcoes {
        margin-left: 30vh
    }


}

@media (max-width: 480px) {
    .botao-opcoes {
        margin-left: 20vh
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .form-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container-box span {
        display: auto;
    }

    .form-container {
        padding: 20px;
        max-width: 90%;
    }
}