<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='publicacoes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_users.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Painel de Administrador</title>
</head>
<body>
    <header class="admin_panel">
        <div class='top-container'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Instituto_Federal_de_S%C3%A3o_Paulo_-_Marca_Vertical_2015.svg"
                class='logo-img' height="50">
            <p class='center-title'>Menu de Usuários</p>
            <nav>
                <ul class='menu'>
                    {% if current_user.is_authenticated %}
                    <li>@{{current_user.nome.lower()}}</li>
                    <li><a href="{{ url_for('feed.topics') }}">Início</a></li>
                    <li><a class="sair" href="{{ url_for('auth.logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Fazer login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <nav class="admin_nav">
        <div class="top-container">
            <ul class="options">
                <li class="links"><a href="{{ url_for('admin.admin_panel') }}">Painel de Administrador</a></li>
                <li class="links"><a href="#">Denúncias</a></li>
                <li class="links"><a href="#">Perfil</a></li>
            </ul>
        </div>
    </nav>

    <div class="tabela">
    <div class="tabela-header">
        <div class="celula">ID</div>
        <div class="celula">Nome de usuário</div>
        <div class="celula">Nome de cadastro</div>
        <div class="celula">Cargo</div>
    </div>

    {% for usuario in usuarios %}
    <div class="tabela-linha">
        <div class="celula">{{ usuario.id }}</div>
        <div class="celula">{{ usuario.username }}</div>
        <div class="celula">{{ usuario.nome }}</div>
        <div class="celula editar-form2">
            <form class="editar-form" id="form-{{ usuario.id }}" action="{{ url_for('admin.editar_cargo', usuario_id=usuario.id) }}" method="post">
                <select name="cargo">
                    <option value="Usuário" {% if usuario.cargo == 'Usuário' %}selected{% endif %}>Usuário</option>
                    <option value="Administrador" {% if usuario.cargo == 'Administrador' %}selected{% endif %}>Administrador</option>
                </select>
                <button type="submit" class="editar-salvar">Salvar</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

    {% if device != 'desktop'%}
    <div class="mobile-navbar">
        <a href="{{url_for('feed.topics')}}" class="nav-item">
            <span class="material-icons">home</span>
        </a>
        <a href="/buscar" class="nav-item">
            <span class="material-icons">search</span>
        </a>
        <a href="/publicar" class="nav-item">
            <span class="material-icons">add_box</span>
        </a>
        <a href="/notificacoes" class="nav-item">
            <span class="material-icons">favorite</span>
        </a>
        <a href="{{url_for('perfil.perfil', username=current_user.username)}}" class="nav-item">
            <span class="material-icons">person</span>
        </a>
        {% if current_user.cargo == 'Administrador'%}
        <a href="{{url_for('admin.admin_panel')}}" class="nav-item">
            <span class="material-icons">admin_panel_settings</span>
        </a>
        {% endif %}
    </div>
    {% endif %}
</body>

</html>
