<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='publicacoes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <title>Painel de Administrador</title>
</head>

<body>
    <header class="admin_panel">
        <div class='container'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Instituto_Federal_de_S%C3%A3o_Paulo_-_Marca_Vertical_2015.svg"
                class='logo-img'>
            <p class='center-title'>Painel de Administrador</p>
            <nav>
                <ul class='menu'>
                    {% if current_user.is_authenticated %}
                    <li>@{{current_user.nome.lower()}}</li>
                    <li><a href="{{ url_for('feed.topics') }}">Início</a>
                    <li><a class="sair" href="{{ url_for('auth.logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Fazer login</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Registrar-se</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <nav class="admin_nav">
        <div>
            <ul class="options">
                <li><a href="{{ url_for('admin.usuarios') }}">Usuários</a></li>
                <li><a href="">Denúncias</a></li>
                <li><a href="">Perfil</a></li><!--Padrão para todos os usuários-->
            </ul>
        </div>
    </nav>
    {% if device != 'desktop'%}
    <div class="mobile-navbar">
        {% if current_user.cargo == 'Administrador'%}
        <a href="{{url_for('admin.admin_panel')}}" class="nav-item">
            <span class="material-icons">admin_panel_settings</span>
        </a>
        {% endif %}
            <a href="{{url_for('feed.topics')}}" class="nav-item">
            <span class="material-icons">home</span>
        </a>
        <a href="/buscar" class="nav-item">
            <span class="material-icons">search</span>
        </a>
        <a href="/publicar" class="nav-item">
            <span class="material-icons">add_box</span>
        </a>
        <a href="/notificacoes" class="nav-item">
            <span class="material-icons">favorite</span>
        </a>
        <a href="{{url_for('perfil.perfil', username=current_user.username)}}" class="nav-item">
            <span class="material-icons">person</span>
        </a>
    </div>
    {% endif %}
</body>

</html>