<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Página Inicial</title>
</head>

<body>
    <header>
        <div class='container'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Instituto_Federal_de_S%C3%A3o_Paulo_-_Marca_Vertical_2015.svg"
                class='logo-img'>
            <p class='center-title'>Início</p>
            <nav>
                <ul class='menu'>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('perfil', username=current_user.username) }}">
                            @{{current_user.username.lower()}}<a></a>
                    </li>
                    {% if current_user.cargo == 'Administrador' %}
                    <li><a href="{{ url_for('admin_panel') }}">Painel de administrador</a></li>
                    {% endif %}
                    <li><a class="sair" href="{{ url_for('logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Fazer login</a></li>
                    <li><a href="{{ url_for('registrar') }}">Registrar-se</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        {% if error %}
        <div class='erro'>
            <p>{{error}}</p>
        </div>
        {% endif %}

        <div class="options">
            <!-- Formulário para adicionar uma publicação -->
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('adicionar_publicacao') }}" method="POST">
                <textarea name="texto" rows="4" cols="50" placeholder="Escreva sua publicação..."></textarea><br><br>
                <button type="submit">Publicar</button>
            </form>
            {% endif %}
        </div>

        <!-- Exibir publicações -->
        <div class="publicacoes">
            <h2>Publicações Recentes:</h2>
            {% for publicacao in publicacoes %}
            <div class="publicacao">
                <p><strong>{{ publicacao.usuario.username }}</strong> - {{ publicacao.texto }}</p>
                <small>{{ publicacao.data_criacao }}</small>
            </div>
            {% endfor %}
        </div>

    </main>
</body>

</html>
