<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class='container'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Instituto_Federal_de_S%C3%A3o_Paulo_-_Marca_Vertical_2015.svg" class='logo-img'></img>
            <p class='center-title'>Fazer login</p> <!-- Adicionado -->
            <strong><nav>
                <ul class='menu'>
                    <li><a href="{{ url_for('home') }}">Início</a></li>
                    <li><a href="{{ url_for('registrar') }}">Registrar-se</a></li>
                </ul>
            </nav></strong>
        </div>
    </header>
    <div class="form-container">
        <form action="" method="post">
            <p> Faça seu login</p>
            <input type="text" name="nomeForm" placeholder="Nome" required><br>
            <input type="password" name="senhaForm" placeholder="Senha" required><br>
            {% if error %}
                <div class="error-message">
                    *{{ error }}
                </div>
            {% endif %}
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>