<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    {% if device == 'desktop' %}
    <div class="container" id="container">
        <div class="form-container login-container">
            <form action="{{ url_for('auth.login') }}" method="post">
                <h2 class="h2-box">Faça seu login</h2>
                <div class="input-box">
                    <input class="inputs" type="text" name="usernameForm" placeholder="Nome de usuário" required><br>
                </div>
                <div class="input-box">
                    <input class="inputs" type="password" name="senhaForm" placeholder="Senha" required><br>
                </div>
                <button type="submit" value="Login">
                    Login
                </button>
                {% if error %}
                <div class="error-message">
                    *{{ error }}
                </div>
                {% endif %}
                <span>Veja abaixo outros sites de nossa instituição</span>
                <div class="social-container">
                    <a href="https://www.arq.ifsp.edu.br/"><img class="icon"
                            src="https://www.arq.ifsp.edu.br/images/conteudo/logo_ifsp.png" alt="Site do IFSP"></a>
                    <a href="https://suap.ifsp.edu.br/accounts/login/?next=/"><img class="icon"
                            src="https://play-lh.googleusercontent.com/SPxHi3OAXC4sT0LP2i7VKuvlMJOGS58x4ChB8Tmllj0A3A0jvYuhWAremht02Y6YY30"
                            alt="SUAP"></a>
                    <a href="https://moodle.arq.ifsp.edu.br/login/index.php"><img class="icon"
                            src="https://www.datocms-assets.com/58969/1688659576-moodle-integration.png"
                            alt="Moodle"></a>
                </div>
            </form>
        </div>

        <div class="form-container register-container">
            <form action="{{ url_for('auth.registrar') }}" method="post">
                <h2 class="h2-box">Faça seu registro</h2>
                <div class="input-box">
                    <input class="inputs" type="text" name="usernameForm" placeholder="Nome de usuário" required><br>
                </div>
                <div class="input-box">
                    <input class="inputs" type="text" name="nomeForm" placeholder="Nome" required><br>
                </div>
                <div class="input-box">
                    <input class="inputs" type="password" name="senhaForm" placeholder="Senha" required><br>
                </div>
                {% if error %}
                <div class="error-message">
                    *{{ error }}
                </div>
                {% endif %}
                <button type="submit" value="Cadastrar">
                    Cadastrar
                </button>
                <span>Veja abaixo outros sites de nossa instituição</span>
                <div class="social-container">
                    <a href="https://www.arq.ifsp.edu.br/"><img class="icon"
                            src="https://www.arq.ifsp.edu.br/images/conteudo/logo_ifsp.png" alt="Site do IFSP"></a>
                    <a href="https://suap.ifsp.edu.br/accounts/login/?next=/"><img class="icon"
                            src="https://play-lh.googleusercontent.com/SPxHi3OAXC4sT0LP2i7VKuvlMJOGS58x4ChB8Tmllj0A3A0jvYuhWAremht02Y6YY30"
                            alt="SUAP"></a>
                    <a href="https://moodle.arq.ifsp.edu.br/login/index.php"><img class="icon"
                            src="https://www.datocms-assets.com/58969/1688659576-moodle-integration.png"
                            alt="Moodle"></a>
                </div>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="title">Bem-vindo <br> de volta</h1>
                    <p>Caso você tenha uma conta, acesse ela aqui</p>
                    <button class="ghost" id="login">Login</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="title">Comece a sua <br> jornada agora</h1>
                    <p>Caso você ainda não tenha uma conta, crie uma</p>
                    <button class="ghost" id="register">Registrar-se</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"></script>
    {% else %}
    <div class="container-mobile">
        <form action="{{ url_for('auth.login') }}" method="post">
            <h2 class="h2-box">Faça seu login</h2>
            <div class="input-box">
                <input class="inputs" type="text" name="usernameForm" placeholder="Nome de usuário" required><br>
            </div>
            <div class="input-box">
                <input class="inputs" type="password" name="senhaForm" placeholder="Senha" required><br>
            </div>
            <button type="submit" value="Login">
                Login
            </button>
            {% if error %}
            <div class="error-message">
                *{{ error }}
            </div>
            {% endif %}
            <span>Não tem um cadastro? <a href="{{url_for('auth.registrar')}}" method="get">Cadastre-se</a></span>
        </form>
    {% endif %}

</body>

</html>