<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='publicacoes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <title>Login</title>
</head>

<body>
    <header>
        <div class='container'>
            <img class='logo-img' src="{{ url_for('static', filename='images/Logo_Instituto_Federal.png') }}">
            <p class='center-title'>Fazer login</p> <!-- Adicionado -->
            <strong>
                <nav>
                    <ul class='menu'>
                        <li><a href="{{ url_for('home') }}">Início</a></li>
                        <li><a href="{{ url_for('registrar') }}">Registrar-se</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>
    <main class="main-login">
        <div class="container-box">
            <div class="form-container">
                <form action="" method="post">
                    <h2 class="h2-box">Faça seu login</h2>
                    <div class="input-box">
                        <input class="inputs" type="text" name="usernameForm" placeholder="Nome de usuário"
                            required><br>
                    </div>
                    <div class="input-box">
                        <input class="inputs" type="password" name="senhaForm" placeholder="Senha" required><br>
                    </div>
                    {% if error %}
                    <div class="error-message">
                        *{{ error }}
                    </div>
                    {% endif %}
                    <input type="submit" value="Entrar">
                </form>
            </div>
            <span style="--i: 0;"></span>
            <span style="--i: 1;"></span>
            <span style="--i: 2;"></span>
            <span style="--i: 3;"></span>
            <span style="--i: 4;"></span>
            <span style="--i: 5;"></span>
            <span style="--i: 6;"></span>
            <span style="--i: 7;"></span>
            <span style="--i: 8;"></span>
            <span style="--i: 9;"></span>
            <span style="--i: 10;"></span>
            <span style="--i: 11;"></span>
            <span style="--i: 12;"></span>
            <span style="--i: 13;"></span>
            <span style="--i: 14;"></span>
            <span style="--i: 15;"></span>
            <span style="--i: 16;"></span>
            <span style="--i: 17;"></span>
            <span style="--i: 18;"></span>
            <span style="--i: 19;"></span>
            <span style="--i: 20;"></span>
            <span style="--i: 21;"></span>
            <span style="--i: 22;"></span>
            <span style="--i: 23;"></span>
            <span style="--i: 24;"></span>
            <span style="--i: 25;"></span>
            <span style="--i: 26;"></span>
            <span style="--i: 27;"></span>
            <span style="--i: 28;"></span>
            <span style="--i: 29;"></span>
            <span style="--i: 30;"></span>
            <span style="--i: 31;"></span>
            <span style="--i: 32;"></span>
            <span style="--i: 33;"></span>
            <span style="--i: 34;"></span>
            <span style="--i: 35;"></span>
            <span style="--i: 36;"></span>
            <span style="--i: 37;"></span>
            <span style="--i: 38;"></span>
            <span style="--i: 39;"></span>
            <span style="--i: 40;"></span>
            <span style="--i: 41;"></span>
            <span style="--i: 42;"></span>
            <span style="--i: 43;"></span>
            <span style="--i: 44;"></span>
            <span style="--i: 45;"></span>
            <span style="--i: 46;"></span>
            <span style="--i: 47;"></span>
            <span style="--i: 48;"></span>
            <span style="--i: 49;"></span>
        </div>
        <footer>
            <ul>
                <li><a href="https://www.arq.ifsp.edu.br/"><img class="icon"
                            src="https://www.arq.ifsp.edu.br/images/conteudo/logo_ifsp.png" alt="Site do IFSP"></a>
                </li>
                <li><a href="https://suap.ifsp.edu.br/accounts/login/?next=/"><img class="icon"
                            src="https://www.ifms.edu.br/acesso-a-sistemas/imagens/suap/@@images/image/preview"
                            alt="SUAP"></a>
                </li>
                <li><a href="https://moodle.arq.ifsp.edu.br/login/index.php"><img class="icon"
                            src="https://www.datocms-assets.com/58969/1688659576-moodle-integration.png"
                            alt="Moodle"></a>
                </li>
            </ul>
        </footer>
</body>

</html>