<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <title>Registrar</title>
</head>
<body class="body-login">
    <div class="container-mobile">
        <form action="" method="post">
            <h2 class="h2-box">Faça seu registro</h2>
            <div class="input-box">
                <input class="inputs" type="text" name="usernameForm" placeholder="Nome de usuário" required><br>
            </div>
            <div class="input-box">
                <input class="inputs" type="text" name="nomeForm" placeholder="Nome" required><br>
            </div>
            <div class="input-box">
                <input class="inputs" type="password" name="senhaForm" placeholder="Senha" required><br>
            </div>
            <button type="submit">Cadastrar</button>
            {% if error %}
            <div class="error-message">
                *{{ error }}
            </div>
            {% endif %}
            <span>Já tem um cadastro? <a href="{{url_for('auth.login')}}" method="get">Faça login</a></span>
        </form>
    </div>
</body>

</html>