<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='publicacoes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Social Network</title>
</head>

<body>
    <header>
        <div class='container'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Instituto_Federal_de_S%C3%A3o_Paulo_-_Marca_Vertical_2015.svg"
                class='logo-img'>
            <p class='center-title'>Tópicos</p>
            <nav>
                <ul class='menu'>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('perfil', username=current_user.username) }}">@{{
                            current_user.username.lower() }}</a></li>
                    {% if current_user.cargo == 'Administrador' %}
                    <li><a href="{{ url_for('admin_panel') }}">Painel de administrador</a></li>
                    {% endif %}
                    <li><a class="sair" href="{{ url_for('logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Fazer login</a></li>
                    <li><a href="{{ url_for('registrar') }}">Registrar-se</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% if error %}
        <div class='erro'>
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <div class="options">
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('adicionar_publicacao') }}" method="POST" class="form-publicar">
                <input class="comentario" name="texto" rows="4" cols="50"
                    placeholder="Escreva sua publicação..."></input><br><br>
                <button type="submit">Publicar</button>
            </form>
            {% endif %}
        </div>

        <div class="publicacoes">
            <h2>Tópicos recentes:</h2>
            {% for publicacao in publicacoes %}
            <div class="publicacao">
                <div class="top-bar">
                    <a class="user"
                        href="{{ url_for('perfil', username=publicacao.usuario.username) }}"><strong>{{publicacao.usuario.username
                            }}</strong></a>
                    <div class="dropdown">
                        <button class="botao-opcoes" id="botaoOpcoes">
                            <i class="material-icons dropdown-toggle" onclick="toggleDropdown(this)"
                                style="font-size: 30px; display: inline;">more_vert</i>
                        </button>

                        <div class="dropdown-menu" id="dropdownMenu">
                            <a href="#">Seguir</a>
                            <a href="#">Bloquear</a>
                            {% if publicacao.usuario.id == current_user.id or current_user.cargo == "Administrador" %}
                            <form method="POST"
                                action="{{ url_for('deletar_publicacao', publicacao_id=publicacao.id) }}"
                                style="display:inline;" class="form-deletar" id="delete-pub-{{ publicacao.id }}"
                                style="display:inline;">
                                <a href="#"
                                    onclick="return confirm('Tem certeza que deseja deletar esta publicação?') && submitForm('delete-pub-{{ publicacao.id }}')"
                                    class="botao-deletar"><i class="material-icons"
                                        style="font-size: 20px">delete</i>Excluir</a>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {{ publicacao.texto }}
                <br>
                <small>{{ publicacao.data_criacao.strftime('%d/%m/%Y %H:%M') }}</small>
                <br>

                {% if current_user.is_authenticated %}
                {% set ja_curtiu_pub = publicacao.curtidas | selectattr('usuario.id', 'equalto', current_user.id) |
                list
                | length > 0 %}
                <div class="acoes">
                    <form method="POST"
                        action="{{ url_for('descurtir_publicacao' if ja_curtiu_pub else 'curtir_publicacao', publicacao_id=publicacao.id) }}"
                        id="curtir-{{ publicacao.id }}" style="display:inline;">
                        <a href="#" onclick="submitForm('curtir-{{ publicacao.id }}')" class="botao-like">
                            {% if ja_curtiu_pub %}
                            <i class="material-icons like-icon liked" style="font-size: 20px">favorite</i>
                            {% else %}
                            <i class="material-icons like-icon" style="font-size: 20px">favorite</i>
                            {% endif %}
                        </a>
                        <span>{{ publicacao.curtidas | length }} curtidas</span>
                    </form>

                    <button class="btn-responder" onclick="mostrarFormularioComentario(event, '{{ publicacao.id }}')"
                        type="button">
                        <i class="material-icons reply_all" style="font-size: 20px">mode_comment</i>
                    </button>

                    <div class="comentario-wrapper">

                        <form class="form-comentario" method="POST"
                            action="{{ url_for('comentar_publicacao', publicacao_id=publicacao.id) }}"
                            id="comentar-{{ publicacao.id }}" style="display: none;">
                            <input type="text" name="texto" placeholder="Comentar..." required />
                            <button class="btn-comentar" type="submit">
                                <i class="material-icons" style="font-size: 20px;">send</i>
                            </button>
                        </form>
                    </div>

                    {% endif %}
                    <br>
                    <h5>Comentários:</h5>
                    {% for comentario in publicacao.comentarios %}
                    <div class="comentario">
                        <strong><a class="user" href="{{ url_for('perfil', username=comentario.usuario.username)}}">{{
                                comentario.usuario.username }}</a>
                            <br>
                            <br>
                        </strong>{{ comentario.texto }}
                        <br>

                        {% if current_user.is_authenticated %}
                        {% set ja_curtiu_coment = comentario.curtidas | selectattr('usuario.id', 'equalto',
                        current_user.id) | list | length > 0 %}
                        <form method="POST"
                            action="{{ url_for('descurtir_comentario' if ja_curtiu_coment else 'curtir_comentario', comentario_id=comentario.id) }}"
                            id="curtir-com-{{ comentario.id }}" style="display:inline;">
                            <a href="#" onclick="submitForm('curtir-com-{{ comentario.id }}')" class="botao-like">

                                {% if ja_curtiu_coment %}
                                <i class="material-icons like-icon liked" style="font-size: 20px">favorite</i>
                                {% else %}
                                <i class="material-icons like-icon" style="font-size: 20px">favorite</i>
                                {% endif %}
                            </a>
                            <span>{{ comentario.curtidas.count() }} curtidas</span>
                        </form>

                        <button class="btn-responder" onclick="mostrarFormulario(event, '{{ comentario.id }}')"
                            type="button">
                            <i class="material-icons reply_all" style="font-size: 20px">reply_all</i>
                        </button>

                        {% if comentario.usuario.id == current_user.id or current_user.cargo == "Administrador" %}
                        <form method="POST" action="{{ url_for('deletar_comentario', comentario_id=comentario.id) }}"
                            style="display:inline;" id="delete-com-{{ comentario.id }}" style="display:inline;">
                            <a href="#"
                                onclick="return confirm('Deseja deletar este comentário?') && submitForm('delete-com-{{ comentario.id }}')"
                                class="botao-deletar"><i class="material-icons" style="font-size: 20px">delete</i></a>
                        </form>
                        {% endif %}

                        <div class="respostas">
                            {% for resposta in comentario.respostas %}
                            <div class="resposta">
                                <strong>
                                    <a href="{{ url_for('perfil', username=resposta.usuario.username) }}" class="user">
                                        {{ resposta.usuario.username }}
                                    </a>
                                </strong>
                                <br>
                                <br>
                                {{ resposta.texto }}

                                {% if current_user.is_authenticated %}
                                {% set ja_curtiu_resp = resposta.curtidas | selectattr('usuario.id', 'equalto',
                                current_user.id) | list | length > 0 %}
                                <form method="POST"
                                    action="{{ url_for('descurtir_resposta' if ja_curtiu_resp else 'curtir_resposta', resposta_id=resposta.id) }}"
                                    id="curtir-resp-{{ resposta.id }}" style="display:inline;">
                                    <br>
                                    <a href="#" onclick="submitForm('curtir-resp-{{ resposta.id }}')"
                                        class="botao-like">
                                        {% if ja_curtiu_resp %}
                                        <i class="material-icons like-icon liked" style="font-size: 20px">favorite</i>
                                        {% else %}
                                        <i class="material-icons like-icon" style="font-size: 20px">favorite</i>
                                        {% endif %}
                                    </a>
                                    <span>{{ resposta.curtidas.count() }} curtidas</span>
                                </form>

                                <button onclick="mostrarFormulario(event, '{{ comentario.id }}')"
                                    class="botao-responder">
                                    <i class="material-icons reply_all" style="font-size: 20px">reply</i>
                                </button>

                                {% endif %}

                                {% if resposta.usuario.id == current_user.id or current_user.cargo == "Administrador" %}
                                <form method="POST" action="{{ url_for('deletar_resposta', resposta_id=resposta.id) }}"
                                    style="display:inline;" id="delete-resp-{{ resposta.id }}">
                                    <a href="#"
                                        onclick="return confirm('Deseja deletar esta resposta?') && submitForm('delete-resp-{{ resposta.id }}')"
                                        class="botao-deletar"><i class="material-icons"
                                            style="font-size: 20px">delete</i></a>
                                </form>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>

                        <div class="resposta-wrapper" onclick="event.stopPropagation();">

                            <form class="form-resposta" method="POST"
                                action="{{ url_for('responder_comentario', comentario_id=comentario.id) }}"
                                id="responder-{{ comentario.id }}" style="display:none;">

                                <input type="text" name="texto" placeholder="Responder..." required autofocus />
                                <button type="submit" class="btn-comentar">
                                    <i class="material-icons" style="font-size: 20px;">send</i>
                                </button>
                            </form>
                        </div>

                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
                <hr>
                {% endfor %}
            </div>
    </main>
    <footer>
        <ul>
            <li><a href="https://www.arq.ifsp.edu.br/"><img class="icon"
                        src="https://www.arq.ifsp.edu.br/images/conteudo/logo_ifsp.png" alt="Site do IFSP"></a>
            </li>
            <li><a href="https://suap.ifsp.edu.br/accounts/login/?next=/"><img class="icon"
                        src="https://play-lh.googleusercontent.com/SPxHi3OAXC4sT0LP2i7VKuvlMJOGS58x4ChB8Tmllj0A3A0jvYuhWAremht02Y6YY30"
                        alt="SUAP"></a>
            </li>
            <li><a href="https://moodle.arq.ifsp.edu.br/login/index.php"><img class="icon"
                        src="https://www.datocms-assets.com/58969/1688659576-moodle-integration.png" alt="Moodle"></a>
            </li>
        </ul>
    </footer>

    <script src="{{ url_for('static', filename='topics.js') }}"></script>

</body>

</html>