<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='publicacoes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Social Network</title>
    <style>
        .texto-publicacao .texto-completo {
            display: none;
        }
        .texto-publicacao .texto-resumido {
            display: inline;
        }
        .texto-publicacao.expandido .texto-completo {
            display: inline;
        }
        .texto-publicacao.expandido .texto-resumido {
            display: none;
        }
        .ler-mais {
            color: #3498db;
            cursor: pointer;
            font-size: 0.9em;
            margin-left: 5px;
        }
        .ler-mais:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div id="topo"></div>
    <header>
        <div class='container'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Instituto_Federal_de_S%C3%A3o_Paulo_-_Marca_Vertical_2015.svg"
                class='logo-img'>
            <p class='center-title'>Tópicos</p>
            <nav>
                <ul class='menu'>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('perfil.perfil', username=current_user.username) }}">@{{
                            current_user.username.lower() }}</a></li>
                    {% if current_user.cargo == 'Administrador' %}
                    <li><a href="{{ url_for('admin.admin_panel') }}">Painel de administrador</a></li>
                    {% endif %}
                    <li><a class="sair" href="{{ url_for('auth.logout') }}"><i class="material-icons"
                                style="font-size: 1.35rem;">logout</i></a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Fazer login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% if error %}
        <div class='erro'>
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <div class="options">
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('interacoes.adicionar_publicacao') }}" method="POST" class="form-publicar">
                <textarea name="texto" placeholder="Escreva sua publicação..." required></textarea>
                <button type="submit">Publicar</button>
            </form>
            {% endif %}
        </div>

        <div class="publicacoes">
            <h2>Tópicos recentes:</h2>
            {% for publicacao in publicacoes %}
            <div class="publicacao">
                <div class="topo-publicacao">
                    <img class="icon" src="{{ url_for('static', filename='default_avatar.png') }}" alt="Avatar">
                    <div>
                        <a class="user" href="{{ url_for('perfil.perfil', username=publicacao.usuario.username) }}">
                            <strong>{{ publicacao.usuario.username }}</strong>
                        </a>
                        <br>
                        <small>{{ publicacao.data_criacao.strftime('%d %b %Y %H:%M') }}</small>
                    </div>
                    <div class="dropdown">
                        <button class="botao-opcoes" id="botaoOpcoes">
                            <i class="material-icons dropdown-toggle" onclick="toggleDropdown(this)"
                                style="font-size: 30px; display: inline;">more_vert</i>
                        </button>
                        <div class="dropdown-menu" id="dropdownMenu">
                            <a href="#">Seguir</a>
                            <a href="#">Bloquear</a>
                            <a href="#">Denunciar</a>
                            {% if publicacao.usuario.id == current_user.id or current_user.cargo == "Administrador" %}
                            <form method="POST"
                                action="{{ url_for('interacoes.deletar_publicacao', publicacao_id=publicacao.id) }}"
                                style="display:inline;" class="form-deletar" id="delete-pub-{{ publicacao.id }}">
                                <a href="#"
                                    onclick="return confirm('Tem certeza que deseja deletar esta publicação?') && submitForm('delete-pub-{{ publicacao.id }}')"
                                    class="botao-deletar">
                                    <i class="material-icons" style="font-size: 1.35rem">delete</i> Excluir
                                </a>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="texto-publicacao" id="texto-publicacao-{{ publicacao.id }}">
                    {% if publicacao.texto|length > 100 %}
                        <span class="texto-resumido">{{ publicacao.texto[:100].replace('\n', '<br>') | safe }}...</span>
                        <span class="texto-completo">{{ publicacao.texto.replace('\n', '<br>') | safe }}</span>
                        <span class="ler-mais" onclick="toggleTextoCompleto('{{ publicacao.id }}')">Ler mais</span>
                    {% else %}
                        <span>{{ publicacao.texto.replace('\n', '<br>') | safe }}</span>
                    {% endif %}
                </div>
                <div class="acoes">
                    {% if current_user.is_authenticated %}
                    {% set ja_curtiu_pub = publicacao.curtidas | selectattr('usuario.id', 'equalto', current_user.id) | list | length > 0 %}
                    <form method="POST"
                        action="{{ url_for('interacoes.descurtir_publicacao' if ja_curtiu_pub else 'interacoes.curtir_publicacao', publicacao_id=publicacao.id) }}"
                        id="curtir-{{ publicacao.id }}" style="display:inline;">
                        <a href="#" onclick="submitForm('curtir-{{ publicacao.id }}')" class="botao-like">
                            {% if ja_curtiu_pub %}
                            <i class="material-icons like-icon liked" style="font-size: 1.35rem">favorite</i>
                            {% else %}
                            <i class="material-icons like-icon" style="font-size: 1.35rem">favorite</i>
                            {% endif %}
                        </a>
                    </form>
                    {% endif %}
                    <span>{{ publicacao.curtidas | length }} curtidas</span>
                    
                    {% if current_user.is_authenticated %}
                    <button class="btn-responder" onclick="mostrarFormularioComentario(event, '{{ publicacao.id }}')"
                        type="button">
                        <i class="material-icons reply_all" style="font-size: 1.35rem">mode_comment</i>
                    </button>
                    {% endif %}
                </div>

                <div class="comentario-wrapper">
                    <form class="form-comentario" method="POST"
                        action="{{ url_for('interacoes.comentar_publicacao', publicacao_id=publicacao.id) }}"
                        id="comentar-{{ publicacao.id }}" style="display: none;">
                        <input type="text" name="texto" placeholder="Comentar..." required />
                        <button type="submit" class="btn-comentar">
                            <i class="material-icons" style="font-size: 1.35rem;">send</i>
                        </button>
                    </form>
                </div>

                <h5>Comentários:</h5>
                {% for comentario in publicacao.comentarios %}
                <div class="comentario">
                    <div class="topo-publicacao">
                        <img class="icon" src="{{ url_for('static', filename='default_avatar.png') }}" alt="Avatar">
                        <div>
                            <a class="user" href="{{ url_for('perfil.perfil', username=comentario.usuario.username) }}">
                                <strong>{{ comentario.usuario.username }}</strong>
                            </a>
                            <br>
                            <small>{{ comentario.data_criacao.strftime('%d %b %Y %H:%M') }}</small>
                        </div>
                        <div class="dropdown">
                            <button class="botao-opcoes" id="botaoOpcoes">
                                <i class="material-icons dropdown-toggle" onclick="toggleDropdown(this)"
                                    style="font-size: 25px; display: inline;">more_vert</i>
                            </button>
                            <div class="dropdown-menu" id="dropdownMenu">
                                <a href="#" style="width: 100%;">Seguir</a>
                                <a href="#" style="width: 100%;">Bloquear</a>
                                <a href="#" style="width: 100%;">Denunciar</a>
                                {% if comentario.usuario.id == current_user.id or current_user.cargo == "Administrador" %}
                                <form method="POST"
                                    action="{{ url_for('interacoes.deletar_comentario', comentario_id=comentario.id) }}"
                                    style="display:inline;" class="form-deletar" id="delete-com-{{ comentario.id }}">
                                    <a href="#"
                                        onclick="return confirm('Deseja deletar este comentário?') && submitForm('delete-com-{{ comentario.id }}')">
                                        <i class="material-icons" style="font-size: 1.35rem; color:#e74c3c;">delete</i>Excluir
                                    </a>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="texto-publicacao" id="texto-comentario-{{ comentario.id }}">
                        {% if comentario.texto|length > 100 %}
                            <span class="texto-resumido">{{ comentario.texto[:100].replace('\n', '<br>') | safe }}...</span>
                            <span class="texto-completo">{{ comentario.texto.replace('\n', '<br>') | safe }}</span>
                            <span class="ler-mais" onclick="toggleTextoCompleto('{{ comentario.id }}', 'comentario')">Ler mais</span>
                        {% else %}
                            <span>{{ comentario.texto.replace('\n', '<br>') | safe }}</span>
                        {% endif %}
                    </div>
                    <div class="acoes">
                        {% if current_user.is_authenticated %}
                        {% set ja_curtiu_coment = comentario.curtidas | selectattr('usuario.id', 'equalto', current_user.id) | list | length > 0 %}
                        <form method="POST"
                            action="{{ url_for('interacoes.descurtir_comentario' if ja_curtiu_coment else 'interacoes.curtir_comentario', comentario_id=comentario.id) }}"
                            id="curtir-com-{{ comentario.id }}" style="display:inline;">
                            <a href="#" onclick="submitForm('curtir-com-{{ comentario.id }}')" class="botao-like">
                                {% if ja_curtiu_coment %}
                                <i class="material-icons like-icon liked" style="font-size: 1.35rem">favorite</i>
                                {% else %}
                                <i class="material-icons like-icon" style="font-size: 1.35rem">favorite</i>
                                {% endif %}
                            </a>
                        </form>
                        {% endif %}
                        <span>{{ comentario.curtidas.count() }} curtidas</span>
                        
                        {% if current_user.is_authenticated %}
                        <button class="btn-responder" onclick="mostrarFormulario(event, '{{ comentario.id }}')"
                            type="button">
                            <i class="material-icons reply_all" style="font-size: 1.35rem">reply_all</i>
                        </button>
                        {% endif %}
                    </div>

                    <div class="respostas">
                        {% for resposta in comentario.respostas %}
                        <div class="resposta">
                            <div class="topo-publicacao">
                                <img class="icon icon-resposta" src="{{ url_for('static', filename='default_avatar.png') }}" alt="Avatar">
                                <div>
                                    <a href="{{ url_for('perfil.perfil', username=resposta.usuario.username) }}" class="user">
                                        <strong>{{ resposta.usuario.username }}</strong>
                                    </a>
                                    <br>
                                    <small>{{ resposta.data_criacao.strftime('%d %b %Y %H:%M') }}</small>
                                </div>
                                <div class="dropdown">
                                    <button class="botao-opcoes" id="botaoOpcoes">
                                        <i class="material-icons dropdown-toggle" onclick="toggleDropdown(this)"
                                            style="font-size: 1.35rem; display: inline;">more_vert</i>
                                    </button>
                                    <div class="dropdown-menu" id="dropdownMenu">
                                        <a href="#" style="width: 100%;">Seguir</a>
                                        <a href="#" style="width: 100%;">Bloquear</a>
                                        <a href="#" style="width: 100%;">Denunciar</a>
                                        {% if resposta.usuario.id == current_user.id or current_user.cargo == "Administrador" %}
                                        <form method="POST"
                                            action="{{ url_for('interacoes.deletar_resposta', resposta_id=resposta.id) }}"
                                            style="display:inline;" id="delete-resp-{{ resposta.id }}">
                                            <a href="#"
                                                onclick="return confirm('Deseja deletar esta resposta?') && submitForm('delete-resp-{{ resposta.id }}')"
                                                class="botao-deletar">
                                                <i class="material-icons" style="font-size: 1.35rem; color:#e74c3c;">delete</i>Excluir
                                            </a>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="texto-publicacao" id="texto-resposta-{{ resposta.id }}">
                                {% if resposta.texto|length > 100 %}
                                    <span class="texto-resumido">{{ resposta.texto[:100].replace('\n', '<br>') | safe }}...</span>
                                    <span class="texto-completo">{{ resposta.texto.replace('\n', '<br>') | safe }}</span>
                                    <span class="ler-mais" onclick="toggleTextoCompleto('{{ resposta.id }}', 'resposta')">Ler mais</span>
                                {% else %}
                                    <span>{{ resposta.texto.replace('\n', '<br>') | safe }}</span>
                                {% endif %}
                            </div>
                            <div class="acoes">
                                {% if current_user.is_authenticated %}
                                {% set ja_curtiu_resp = resposta.curtidas | selectattr('usuario.id', 'equalto', current_user.id) | list | length > 0 %}
                                <form method="POST"
                                    action="{{ url_for('interacoes.descurtir_resposta' if ja_curtiu_resp else 'interacoes.curtir_resposta', resposta_id=resposta.id) }}"
                                    id="curtir-resp-{{ resposta.id }}" style="display:inline;">
                                    <a href="#" onclick="submitForm('curtir-resp-{{ resposta.id }}')" class="botao-like">
                                        {% if ja_curtiu_resp %}
                                        <i class="material-icons like-icon liked" style="font-size: 1.35rem">favorite</i>
                                        {% else %}
                                        <i class="material-icons like-icon" style="font-size: 1.35rem">favorite</i>
                                        {% endif %}
                                    </a>
                                </form>
                                {% endif %}
                                <span>{{ resposta.curtidas.count() }} curtidas</span>
                                
                                {% if current_user.is_authenticated %}
                                <button onclick="mostrarFormulario(event, '{{ comentario.id }}')" class="botao-responder">
                                    <i class="material-icons reply_all" style="font-size: 1.35rem">reply</i>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="resposta-wrapper" onclick="event.stopPropagation();">
                        <form class="form-resposta" method="POST"
                            action="{{ url_for('interacoes.responder_comentario', comentario_id=comentario.id) }}"
                            id="responder-{{ comentario.id }}" style="display:none;">
                            <input type="text" name="texto" placeholder="Responder..." required autofocus />
                            <button type="submit" class="btn-comentar">
                                <i class="material-icons" style="font-size: 1.35rem;">send</i>
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                <hr>
            </div>
            {% endfor %}
            
            <div class="mobile-navbar">
                <a href="{{url_for('feed.topics')}}" class="nav-item">
                    <span class="material-icons">home</span>
                </a>
                <a href="/buscar" class="nav-item">
                    <span class="material-icons">search</span>
                </a>
                <a href="/publicar" class="nav-item">
                    <span class="material-icons">add_box</span>
                </a>
                <a href="/notificacoes" class="nav-item">
                    <span class="material-icons">favorite</span>
                </a>
                <a href="{{url_for('perfil.perfil', username=current_user.username)}}" class="nav-item">
                    <span class="material-icons">person</span>
                </a>
            </div>
        </div>
    </main>
    
    {% if device == 'desktop'%}
    <footer>
        <ul>
            <li><a href="https://www.arq.ifsp.edu.br/"><img class="icon"
                        src="https://www.arq.ifsp.edu.br/images/conteudo/logo_ifsp.png" alt="Site do IFSP"></a>
            </li>
            <li><a href="https://suap.ifsp.edu.br/accounts/login/?next=/"><img class="icon"
                        src="https://play-lh.googleusercontent.com/SPxHi3OAXC4sT0LP2i7VKuvlMJOGS58x4ChB8Tmllj0A3A0jvYuhWAremht02Y6YY30"
                        alt="SUAP"></a>
            </li>
            <li><a href="https://moodle.arq.ifsp.edu.br/login/index.php"><img class="icon"
                        src="https://www.datocms-assets.com/58969/1688659576-moodle-integration.png" alt="Moodle"></a>
            </li>
        </ul>
    </footer>
    {% endif %}

    <script src="{{ url_for('static', filename='topics.js') }}"></script>
    <script>
        function toggleTextoCompleto(id, tipo = 'publicacao') {
            let elemento;
            if (tipo === 'publicacao') {
                elemento = document.getElementById(`texto-publicacao-${id}`);
            } else if (tipo === 'comentario') {
                elemento = document.getElementById(`texto-comentario-${id}`);
            } else if (tipo === 'resposta') {
                elemento = document.getElementById(`texto-resposta-${id}`);
            }
            
            if (elemento) {
                elemento.classList.toggle('expandido');
                const lerMaisSpan = elemento.querySelector('.ler-mais');
                if (elemento.classList.contains('expandido')) {
                    lerMaisSpan.textContent = 'Ler menos';
                } else {
                    lerMaisSpan.textContent = 'Ler mais';
                }
            }
        }
    </script>
</body>

</html>